* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body{

    display: flex;
    padding: 0px 50px;
    flex-direction: column;
    align-self: stretch;
}
a{
    text-decoration: none;
    color: black;
    padding: 0 0px 30px 0px;
}
.A{
    margin-right: 68px;
    color: #0065FC;
}
a:hover{
    color: #0065FC;
}



nav{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.navigation{
    padding-top: 30px;
}


header{
    padding: 10px;
    height: 79px;
}

.logobooki{
    width: 61px;
    height: 19px;
    padding: 30px 0px 30px 0px;
}

.navigation{
    padding:0 0px 0 50px;
}

.head{
    max-width: 1340px;
}

.part1{
    width: 90%;
    height: 281px;
    gap: 35px;

}

.headline{
    height: 3.313em;
    gap: 8px;
}

H1{
    height: 26px;
    font-size: 1.375em;
    width: 100%;
}

.p1{
    font-size: 1em;
}

.search{
  
    display: flex;
    width: 31.25%;
    height: 49px;
align-items: center;
gap: 24px;
padding-top: 25PX;
}


input{
    position: relative;
    display: inline-block;
    font-size: 1.1em;
    box-sizing: border-box;
    cursor: pointer;
}

.submit,button{
    border-radius: 0 15px 15px 0;
    color: white;
    font-family: 'raleway', sans-serif;
    width: 9,17%;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    height: 49px;
    cursor: pointer;
    position: relative;
    left: -48px;
    font-family: "Raleway";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 16px;
    }


.text{
    color: var(--Black, #000);
text-align: center;
font-family: 'raleway', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
height: 49px;
position: relative;
left: -24px;
border: 1px solid #F2F2F2;
}



.logopos{
    width: 50px;
    height: 49px;
}

.filterbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 758px;
    height: 50px;
    padding-top: 35px;
}

h2{
    font-family: "Raleway";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 35px; 
position: relative;
top: -20px;
left: 20px;
padding-right: 15px;
}

input{
    border: none;
    background-color: white;
}

.filter-elements{
    height: 42px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
padding: 4px 19px;
align-items: center;
gap: 10px;
color: var(--Black, #000);
}

.filter-elements:hover{
    cursor: pointer;
    background-color: #F2F2F2;
}

.grid{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-text{
    font-family: "Raleway";
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.information{
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 24PX;
    padding-bottom: 0;
}

.main-container {
    width: 100%;
    max-width: 1340px;
    box-sizing: border-box;
    height: 612px;
    display: flex;
    flex-direction: row;
    padding-top: 35px;
}

main{
    display: flex;
    flex-direction: row;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title{
    padding-bottom: 30px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding-bottom: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 192px;
    width: 250px;
}

.card img {
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    padding: 5px;
    width: 96%;
}

.card-content{
    padding: 8px 15px 8px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    max-height: 100%;
}

.card-content:hover{
    color: #0065FC;
    cursor: pointer;
}

.card-title {
    font-size: 1em;
    height: 19px;
}

.euro {
    font-weight: 700;
}

.hebergements-marseille{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin: 0;
    width: 811px;
    height: 552px;
    padding: 30px;
    gap: 30px;
    border-radius: 20px;
}
.hebergements-marseille section{
    border-radius: 20px;
    box-sizing: border-box;
}

.marseille-cards{
    max-width: 250px;
    max-height: 192px;
    position: relative;
    left: -30px;
}

.imgM{
    width: 240px;
    height: 124px;
}

.ligne1, .ligne2{
    display: flex;
    align-items: space-around;
    padding-left: 20px;
    gap: 30px;
}

.button-main{
    font-family: "Raleway";
    font-size: 1.063em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #F2F2F2;
    padding-left: 30px;
}

.hebergements {
    width: 32%;
    padding-left: 10px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.marseille-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-and-populaires{
    background-color: #F2F2F2;
    width: 369px;
    max-height: 552px;
    height: 552px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    margin-left: 30px;
}

.populaires-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .cards {
    display: flex;
    justify-content: space-between;
}

.cards{
    margin-bottom: 20px;
}

.populaires-cards img{
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid #FFF;
    object-fit: cover;
}

.sections-title{
    padding-bottom: 30px;
}

.cards-txt{
    height: 83px;
    width: 226px;
    padding-bottom: 19px;
    gap: 5PX;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.cards-content{
    padding: 15px 10px 10px 15px;
}

.cards{
    background-color: #FFF;
    width: 369px;
    height: 144px;
    border-radius: 20px;
    margin-bottom: 30px;
}


.main-activites{
    width: 1280px;
    height: 499px;
    padding: 30 0 30px 0px;
    margin-top: 65px;
    margin-bottom: 95px;
}

.cards-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

}

.activites-cards{
    width: 298px;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.main-activites img{
    width: 298px;
    height: 380px;
    border-radius: 20px;

}

article{
    padding-left: 0;
}

.title-img{
    width: 260px;
    height: 19px;
    font-size: 16px;
    padding: 20px 19px 20px 19px;
}

footer{
    background-color: #F2F2F2;
    width: 1340px;
    height: 163px;
}
.container{
    padding: 20px;
}


ul{
    list-style:none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


h4{
    font-family: "Raleway";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.footer-col{
    width: 407PX;
    padding: 0 15px; 
}

.footer-col ul li{
    margin-bottom: 15px;  
}

.footer-col h4{
    margin-bottom: 15px ;
}

.sections-titles{
    padding: 30px;
}

.footer-ligne{
    display: flex;
    flex-direction: row;
}

li{
    font-size: 18px;
}


@media (max-width: 1390px){
    body{
        padding: auto;
        margin: auto;
        max-width: 1024px;
    }

    .head{
        max-width: 924px;
    }

    .filterbar{
        height: 91px;
        width: 668px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30%  100%;
        margin-bottom: 10px;
    }

    h2{
        padding-top:25px ;
    }

    
    .main-container{
        margin-top: 35px;
        width: 57.75em;
        height: 914px;
    }
    .main-ligne{
        display: flex;
        flex-direction: column;
    }

    .hebergements-marseille{
        width:54em;
        height: 611px;
    }
    .hebergements-marseille .card{
        width:268px ;
    }
    .hebergements-marseille .imgM{
        width: 258px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires-cards a {
        width: 30%;
    }
    .hebergements-and-populaires{
        width: 864px;
        height: 192px;
        margin-left: 0;
        margin-top: 50px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .main-activites{
        width: 864px;
        height: 330px;
        margin-bottom: 85px;
    }

    .activites-marseille{
        width: 864px;
    }

    .activites-cards{
        width: 193.5px;
    }

    .main-activites img{
    width: 193.5px;
    height: 200PX;
    border-radius: 20px;
    }

    .activites-cards{
        width: 193.5px;
        height: 270px;
    }

    .title-img{
        width: 155.5px;
        height: 38px;
    }

    footer{
        width: 924px;
        padding-top: 0;
        margin-top: 0;
        gap: 30PX;
    }
    .footer-col{
        width: 248px;
    }

    .footer-ligne{
        display: flex;
        flex-direction: row;
    }

    .filter-text{
        font-size: 16px;
    }


    .cards{
        width: 275px;
        height: 146px;
        flex-direction: row;
        align-items: space-between;
    }

    .populaires-cards{
        width: 864px;
        height: 146px;
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .cards-content{
        width: 163px;
    }

    .cards-txt{
        width: 163px;
        max-width: 163px;
        font-size: 16px;
    }



    }


@media (min-width: 1440px) {
    body{
        max-width: 1440px;
        margin: auto;
    }



}

@media  (max-width:980px){
    body{
        max-width: 880px;
        padding: 0 50px;
    }

    .head{
        max-width: 880px;
    }

    .navigation{
        max-width: 880px;
    }

    .navigations{
        max-width: 880px;
    }

    .main-container{
        width: 51.875em;
        max-width: 51.875em;
        height: 914px;
    }

    .main-ligne{
        display: flex;
        flex-direction: column;
    }

    .hebergements-marseille{
        width: 48.75em;
        max-width: 48.75em;
        height: 552px;
    }
    .hebergements-marseille .card{
        width: 240px;
    }
    .hebergements-marseille .imgM{
        width: 230px;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-and-populaires{
        width: 780px ;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .main-activites{
        width: 48.75em;
        height: 330px;
        margin-bottom: 85px;
    }

    .activites-marseille{
        width: 48.75em;
    }

    .activites-cards{
        width: 173.5px;
    }

    .main-activites img{
    width: 173.5px;
    height: 200PX;
    border-radius: 20px;
    }

    .activites-cards{
        width: 173.5px;
        height: 270px;
    }

    .title-img{
        width: 155.5px;
        height: 38px;
    }

    footer{
        width: 51.875em;
        padding-top: 0;
        margin-top: 0;
    }
    .footer-col{
        width: 248px;
    }

    .filter-text{
        font-size: 16px;
    }

    .cards{
        width: 236px;
        height: 136px;
        flex-direction: row;
        align-items: space-between;
    }


    .populaires-cards{
        width: 864px;
        height: 136px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .cards-content{
        width: 140px;
        height: 111px;
    }

    .cards-txt{
        width: 140px;
        max-width: 140px;
        font-size: 16px;
        display: flex;
flex-direction: column;
align-items: flex-start;
gap: 5px;
flex: 1 0 0;
align-self: stretch;
padding-bottom:1px;
    }
    .populaires-cards img{
        height: 126px;
    }


    }

    @media (max-width:375px) {
        body{
            padding: 0;
            display: flex;
            flex-direction: column;
        }
        .navigation{
            width: 375px;
            display: flex;
            flex-direction: row;
        }

        .head{
            display: flex;
            flex-direction: column;
        }

        .footer-ligne{
            display: flex;
            flex-direction: column;
        }

        footer{
            width: 375px;
            height: 461px;
        }

        a{
            padding: 0;
        }

        .footer-col{
            padding-bottom: 35px;
        }

        .cards-contents{
            display: flex;
            flex-direction: column;
            width: 315px;
            height: 845px;
        }

        .activites-cards{
            width: 315px;
            height: 200px;
        }

        .activites-cards img{
            width: 315px;
            height: 141px;
            border-radius: 20px 20px 0 0;
        }

        .cards-contents{
            width: 315px;
            height: 59px;
            font-size: 16px;
        }

        .title-img{
            width: 315px;
        }

        .sections-titles{
            padding-left: 0;
        }

        .main-activites{
            padding: 30px;
        }

        .logobooki{
            width: 61.1px;
            height: 19px;
            padding: auto;
            margin: auto;
        }

        header{
            width: 375px;
            height: 115px;
        }

        .A{
            margin: 0;
        }

        .navigation a{
            width: 187.5px;
            height: 19px;
            text-align: center;
        }

        .navigation{
            padding:0;
        }

        .part1{
            width: 335px;
            height: 432px;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
        }

        .headline{
            width: 335px;
            height: 79px;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .p1{
            margin-top: 35px;
        }

        .search{
            padding-top: 0;
        }

        .filterbar{
            padding-top: 0;
            width: 335px;
            height: 161px;
            display: flex;
            flex-direction: column;
        }

        .information{
            padding-top: 0;
        }

        .h2-title{
            padding-top: 0;
        }

        .filterbar{
            display: grid;
            grid-template-columns: 40% 40%;
            grid-template-rows: 40%;
        }
        
        .search{
            width: 335px;
            height: 49px;
        }

        .submit{
            width: ;
        }
    


    }
