* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.bodypage {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 35px;
    padding: 0 50Px;
}


a {
    text-decoration: none;
    color: black;
}

.logosearch {
    display: none;
}

img{
    object-fit: cover;
}



a:hover {
    color: #0065FC;
}

.fa-solid {
    display: none;
}

.lienicon{
    display: none;
}



nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navigation {
    padding: 16px;
    width: 244px;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
}


.navigation a{
    padding-top: 15px;
}

.navlien{
    border-top: solid 2px #0065FC;
    color: #0065FC;
}

.lien-filter:hover{
    background-color: #F2F2F2;
    border-radius: 25Px;
}
#pligne{
    width: 95px;
}

.navigation a:hover{
    border-top: solid 2px #0065FC;
}

.p-filter{
    color: var(--Black, #000);
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 100%;
}


header {
    height: 79px;
}

.logobooki {
    width: 61px;
    height: 19px;
    padding: 30px 0px 30px 0px;
}


.part1 {
    width: 100%;
    height: 281px;
    gap: 35px;
}

.headline {
    height: 3.313em;
    gap: 8px;
}

.p1 {
    font-size: 1em;
}

.search {
    display: flex;
    width: 31.25%;
    height: 49px;
    align-items: center;
    gap: 24px;
    padding-top: 25PX;
}


input {
    position: relative;
    display: inline-block;
    font-size: 1.1em;
    box-sizing: border-box;
    cursor: pointer;
}

.submit,
button {
    border-radius: 0 15px 15px 0;
    color: white;
    font-family: 'raleway', sans-serif;
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    height: 49px;
    cursor: pointer;
    position: relative;
    left: -48px;
    font-family: "Raleway";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 16px;
}


.text {
    color: var(--Black, #000);
    text-align: center;
    font-family: 'raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 49px;
    position: relative;
    left: -24px;
    border: 1px solid #F2F2F2;
}



.logopos {
    width: 50px;
    height: 49px;
}

.filterbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 758px;
    height: 50px;
    padding-top: 35px;
}

h2 {
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 35px;
    position: relative;
    top: -20px;
    left: 20px;
    padding-right: 15px;
}

input {
    border: none;
    background-color: white;
}


.filter-elements {
    height: 42px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    color: var(--Black, #000);
}

.grid {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-text {
    font-family: "Raleway";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.information {
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 24PX;
    padding-bottom: 0;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
    height: 612px;
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: row;
}

.main-ligne{
    width: 100%;
    gap: 40px;
}



.section-title {
    padding-bottom: 30px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding-bottom: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 192px;
}

.card img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px;
    width: 96%;
    height: 124px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
    max-width: 100%;
}

.card-content:hover {
    color: #0065FC;
    cursor: pointer;
}

.card-title {
    font-size: 1em;
    height: 19px;
}

.euro {
    font-weight: 700;
}

.hebergements-marseille {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 65%;
    height: 100%;
    border-radius: 20px;
}

.section-title{
    padding: 30px 0 30px 30px;
}
.ligne1,
.ligne2 {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px 30px 10px;
}

.ligne1 a{
    width: 31%;
}
.ligne2 a {
    width: 31%;
}


.button-main {
    font-family: "Raleway";
    font-size: 1.063em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #F2F2F2;
    padding-left: 30px;
}

.hebergements{
    width: 100%;
}


.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




.hebergements-and-populaires {
    background-color: #F2F2F2;
    width: 28%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.populaires-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-content{
    padding-left: 10px;
    max-height: 65px;
}

.populaires-cards .cards {
    display: flex;
    width: 100%;
}

.cards {
    margin-bottom: 20px;
}

.populaires-cards img {
    width: 33%;
    min-width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid #FFF;
    object-fit: cover;
}

.sections-title {
    padding-bottom: 30px;
}

.cards-txt {
    height: 83px;
    width: 100%;
    padding-bottom: 19px;
    gap: 5PX;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.cards-content {
    padding: 15px 10px 10px 15px;
    gap: 6px;
    width: 100%;
}

.cards {
    background-color: #FFF;
    width: 369px;
    height: 144px;
    border-radius: 20px;
    margin-bottom: 30px;
}




.cards-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-left: 30px;;
}

.activites-cards {
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activites-case{
    width: 25%;
    height: 100%;
}

.activites-marseille{
    margin: 0;

    padding: 0 30Px 0 0;
}

.main-activites img {
    border-radius: 20px;
    width: 100%;
    height: 360px;
    object-fit: cover;
}

article {
    padding-left: 0;
}

.title-img {
    height: 19px;
    font-size: 16px;
    padding: 20px 19px 20px 19px;
}

footer {
    width: 100%;
    height: 163px;
}

.container {
    padding: 20px 20px 0 20px;
    background-color: #F2F2F2;
}


ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


h4 {
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.footer-col ul li {
    margin-bottom: 15px;
}

.footer-col h4 {
    margin-bottom: 15px;
}

.sections-titles {
    padding: 30px;
}

.footer-ligne {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-col{
    width: 33%;
}

li {
    font-size: 18px;
}


.footer-ligne {
    gap: 30px;
}

.footer-col {
    padding: 0;
}

.button-main {
    color: black;
}

.filter-elements {
    color: black;
}

.button-main:hover {
    color: black;
}

.filter-elements:hover {
    color: black;


}


@media screen and (min-width: 1440px) {
    .bodypage {
        max-width: 1440px;
        margin: auto;
    }
}

@media  screen and (max-width:1024px) {
    

    .main-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        height: 913px;
        margin-top: 25px;
    }

    .main-ligne{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .hebergements-marseille{
        width: 100%;
        height: 611px;
    }

    .hebergements-and-populaires{
        width: 100%;
        height: 252px;
        padding: 0;
    }

    .populaires{
        margin: 30px;
    }

    .populaires-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }  
    .populaires-cards a{
        width: 32%;
    }

    .filterbar{
        display: flex;
        flex-direction: column;
        height: 91px;
        padding-top: 20px;
        margin-bottom: 10px;
        width: 668px;
    }

   


    .h2-title{
        position: relative;
        top: 0;
        left: 0;
    }

    .main-activites{
        height: 390px;
    }

    .activites-cards{
        height: 270px;
    }

    .card-content{
        width: 270px;
    }

    .activites-cards img{
        height: 200px;
    }

    .title-img{
        padding: 0;
        height: 70px;
        padding: 10px;
    }
}
    


@media screen and (max-width: 767px){
    .bodypage{
        min-width: 320px;
        max-width: 500px ;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .head{
        display: flex;
        flex-direction: column;
    }

    .headline{
        height: auto;
    }

    .part1{
        margin-top: 50px;
        height: auto;
        padding: 0 20px;
    }
    .logobooki{
        margin: auto;
    }

    .navlien{
        border: none;
        border-bottom: solid 2px #0065FC;
        padding-bottom: 15px;
    }
    .navigation a {
        width: 50%;
        text-align: center;
    }

    .navigation a:hover {
        border-top: none;
    }

    .navLien:hover{
        padding-bottom: 15px;
        border-bottom: solid 2px #0065FC;
    }


       .navigation{
        width: 100%;
    }

    .part1 h1{
        margin-bottom: 8px;
    }


    .submit{
        display: none;
    }

    .logosearch{
        display: block;
        background-color: #0065FC;
        padding: 15px;
        border-radius:20px ;
        position: relative;
        left: -60px;
    }

    .grid{
        display: grid;
        grid-template-columns: 160PX 170px;
        grid-template-rows: 1fr 1fr;
    }

    .filterbar{
        width: 40%;
        margin-top: 35px;
    }


    .information{
        height: auto;
        margin-top: 45px;
    }

    .hebergements-marseille{
        height: auto;
        background-color: #FFF;
        order: 2;
    }

    .main-container{
        margin-top: 0;
        height: auto;
    }

    .button-main{
        padding-top: 20px;
        background: none;
    }

    .ligne1, .ligne2{
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 15px;
        width: 96%;
    }

    .marseille-cards{
        padding-left: 20px;
        padding-right: 20px;
    }

    .ligne1 a {
        width: 100%;
    }


 .ligne2 a {
    padding-top: 15px;
    width: 100%;
 }

 .card-content{
    padding-left: 15px;
 }

 .card img{
    width: 98%;
 }

 .hebergements-and-populaires{
    height: auto;
 }

 .populaires-cards{
    flex-direction: column;
 }

 .populaires-cards a {
    width: 100%;
 }

 .cards-contents{
    flex-direction: column;
}
 .activites-case{
    width: 100%;
 }

 .main-activites{
    height: auto;
 }


 .populaires{
    margin: 20px;
 }

 .footer-ligne{
    flex-direction: column;
 }
 .footer-col{
    width: 100%;
 }




}

@media screen and(max-with:385px) {
    .grid{
        display: grid;
    }
}